<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandelingUserinput from "./components/HandelingUserinput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionalsandLoop from "./components/ConditionalsandLoop.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent></SimpleComponent>
    <br>
    <br>
    <FormBindings></FormBindings>
    <br>
    <br>
    <br>
    <ConditionalsandLoop></ConditionalsandLoop>
    <br>
    <br>
    <AttributeBinding></AttributeBinding>
    <HandelingUserinput></HandelingUserinput>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
  </div>
</template>

<style scoped></style>
